/*navbar*/
.navbar .container-fluid{
    margin-left: 2%;
    margin-right: 5%;
}
/*body*/
body{
    background-color: #efefef;
}

.core-content{
    background-color: white;
    margin-top: 50px;
    height: 1250px;
}
.pagination{
    float: right;
}