body {
    background-color: #efefef;
}
.publish-content{
    background-color: white;
    width: 90%;
    margin-top: 50px;
}
.publish-content .btn-success{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    float: right;
}
.publish-content .btn-warning{
    margin-top: 20px;
    width: 30%;
}
