/*navbar*/
.navbar .container-fluid{
    margin-left: 2%;
    margin-right: 5%;
}
/*body*/
body{
    background-color: #efefef;
}

.publish-content{
    background-color: white;
    margin-top: 50px;
}
.btn-success{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    float: right;
}
.publish-content .btn-warning{
    margin-top: 20px;
    width: 30%;
}
